@font-face {
  font-family: "comic-sans";
  src: url("../assets/comic.ttf") format("truetype");
}

html,
body {
  font-family: "comic-sans", sans-serif;
  height: 100%;
  width: 100%;
  background-color: rgb(184, 203, 209);
}

body,
h1 {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-height: 100%;

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
  }
}
